.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 15px 0;
  }
  
  .pagination a,
  .pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination   
   a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {
    background-color:   
   #ddd;
  }